In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('bd.csv') # загружаем данные из файла dates.csv и записываем в переменную df

In [6]:
df.head() # первые пять строк таблицы

   shrm  bartel  rivermid  smart  mkf
0     5      30         3      3    3
1     5      25         3      3    3
2     5      20         2      2    2
3     5      20         1      2    2
4     5      15         2      2    2

In [7]:
from sklearn import tree #деревья решений
from sklearn import metrics #метрики
from sklearn.model_selection import train_test_split #сплитование выборки

In [8]:
df.columns # посмотрим, какие колонки есть в данных

Index(['shrm', 'bartel', 'rivermid', 'smart', 'mkf'], dtype='object')

In [9]:
X = df.drop(['shrm', 'bartel', 'rivermid', 'smart'], axis = 1) # то, с помощью чего предсказываем
y = df['mkf'] # то, что предсказываем

In [10]:
y.value_counts()

mkf
5    250
7    250
9    250
4     75
6     70
8     70
2     20
1     20
3     10
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   shrm      1015 non-null   int64
 1   bartel    1015 non-null   int64
 2   rivermid  1015 non-null   int64
 3   smart     1015 non-null   int64
 4   mkf       1015 non-null   int64
dtypes: int64(5)
memory usage: 39.8 KB

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state = 1, test_size = 0.2) # разделяем на трейн и тест

In [13]:
dt = tree.DecisionTreeClassifier(
    max_depth=4,
    random_state=42
) # задаем решающее дерево, с максимальной глубиной 4

In [14]:
dt.fit(X_train, y_train) # обучаем дерево
y_test_pred = dt.predict(X_test) # предсказывает результат на тестовых данных
print(metrics.accuracy_score(y_test, y_test_pred)) # находим точность предсказания

0.9704433497536946